$color-main: white;
// $color-bg-main: #dce0df;
$color-bg-main: #e1e4e7;
$color-title: #2c3e50;

$color-side-title: #9fb1c5;
$color-side-bg: #304156;
$color-side-bg-dark: #1f2d3d;
$color-side-bg-dark1: #263445;
$color-side-bg-darker: #172331;

// $color-label-title: #5c8cc9;
// $color-label-subtitle: #8a8a8a;
// $color-label-bg: #f4f5f7;
// $color-label-border: #c0d5e2;

$color-label-title: #0cbe83;
$color-label-subtitle: #8a8a8a;
$color-label-bg: #f1f3f2;
$color-label-border: #c0e2d7;

$height-header: 50px;
$height-footer: 36px;
